* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #cbbe3f;
  height: 100vh;
  width: 100vw;
}
.title {
  color: rgba(189, 25, 25, 0.658);
  font-size: 3.3rem;
}
Input {
  background-color: #e3d971;
  border-radius: 30px;
  font-size: 18px;
  height: 1vh;
  width: 40%;
  outline: none;
  padding: 1rem;
  border: none;
  margin: 30px 0 30px 0;
  font-family: "Train One";
}
.result {
  color: #a99a03;
  font-size: 4rem;
}
